@import "tailwindcss";

@theme {
    --color-test: #0a0e14;
}

/* * {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

li {
    display: inline;
    padding: 10px;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(97, 123, 134);
}

.main {
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
    justify-content: space-evenly;
    align-items: center;
}

.gameHeading {
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
}

.menuItems {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    background-color: rgb(96, 255, 96);
}

.gameContainer {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
    align-items: flex-start;
    background-color: lightgray;
}

.gameGrid {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    column-gap: 50px;
    row-gap: 25px;
} */
